/*mobile*/
@media(min-width:320px){

    .card-container{
        width:100%;
    }
    .row {

        flex-wrap: wrap;
    }
    .col-1{
        width:100%;
        padding-bottom: 20px;
      
    }

    .similar{
    
        padding-right: 60px;
    }
    .col-section{
        padding:20px;
    }
    .col{
        display: flex;
        padding-left: 20px;
    
    }
    .col-2{
        width:100%;
    }
    .col-3{
        width:100%;
    }

}
/*ipad*/
@media(min-width:660px){

    .card-container{
        width:100%;
    }
    .row {
        
        flex-wrap: wrap;
    }
    .col-section{
        padding:20px;
    }
    .col{
        display: flex;
        padding-left: 40px;
        padding-bottom: 40px;
    
    }
    .col-1{
        width:100%;
    }
    .col-2{
        width:100%;
    }
    .col-3{
        width:100%;
    }
}
/*labtop*/
@media(min-width:1000px){

    .card-container{
        width:80%;
    }
.row {
    display: flex;
}

.similar{
    
    padding-right: 60px;
}
.col-section{
    padding:6px;
}
.col{
    flex-direction: column;
}
.col-1{
    width:20%;
}
.col-2{
    width:40%;
}
.col-3{
    width:40%;
}
}